{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Primefy API",
    "description": "API de integração com a plataforma Primefy para processamento de pagamentos e gestão de estabelecimentos.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.primefy.com.br"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/signup": {
      "post": {
        "description": "Cadastra um novo estabelecimento para Pessoa Jurídica ou Física na plataforma Primefy.",
        "requestBody": {
          "description": "Informações obrigatórias para criar um estabelecimento na plataforma Primefy.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "plan": { "type": "string", "description": "Plano comercial." },
                  "identificationNumber": { "type": "string", "description": "CPF ou CNPJ do estabelecimento." },
                  "name": { "type": "string", "description": "Nome do estabelecimento." },
                  "email": { "type": "string", "description": "E-mail para contato." },
                  "password": { "type": "string", "description": "Senha de acesso." }
                },
                "required": ["plan", "identificationNumber", "name", "email", "password"]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Estabelecimento cadastrado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "integer", "description": "ID do estabelecimento." },
                    "name": { "type": "string", "description": "Nome do estabelecimento." },
                    "status": { "type": "string", "description": "Status do estabelecimento." }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro ao cadastrar estabelecimento.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "integer", "description": "Código de erro." },
          "message": { "type": "string", "description": "Mensagem de erro." }
        },
        "required": ["error", "message"]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}